@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
body{
  background-color: black;
}

@layer base {
  button {
    cursor: pointer;
  }
}


.no-scrollBar::-webkit-scrollbar{
  display: none;
}

.animate-fade-in{
  animation: animate 0.7s ease-out;
}

@keyframes animate {
   0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}